@page "/task/create"

@rendermode InteractiveServer
@inject MyMediatr.MyMediatr MyMediatr
@inject NotifyHub NotifyHub

<h1>Create Task</h1>

<EditForm FormName="CreateTask" EditContext="@_editContext" OnSubmit="HandleCreateTask" class="col-4">

    <DataAnnotationsValidator />

    <label class="form-label">Title</label>
    <div class="mb-3">
        <input name="input-title" type="text" class="form-control" @bind-value="_viewModel!.Title"
            placeholder="Enter task title" />
        <ValidationMessage For="@(() => _viewModel!.Title)" />
    </div>

    <label class="form-label">Detail</label>
    <div>
        <input name="input-detail" @bind="_viewModel!.Description" class="form-control"
            placeholder="Enter task description" />
        <ValidationMessage For="@(() => _viewModel!.Description)" />
    </div>

    <button class="btn btn-success mt-4">Create Task</button>
</EditForm>

<hr />

<TaskList @ref="taskListComponent" />

@code {
    private CreateTaskViewModel? _viewModel;
    private TaskList? taskListComponent;
    private EditContext? _editContext;
    private ValidationMessageStore? _validationMessageStore;

    protected override void OnInitialized()
    {
        _viewModel = new CreateTaskViewModel(MyMediatr);
        _editContext = new EditContext(_viewModel);
        _validationMessageStore = new ValidationMessageStore(_editContext);
    }

    private async Task HandleCreateTask()
    {
        _validationMessageStore!.Clear();
        _editContext!.NotifyValidationStateChanged();

        if (_viewModel != null)
        {
            var response = await _viewModel.SubmitCreateTask();

            _viewModel.Title = string.Empty;
            _viewModel.Description = string.Empty;

            if (response.IsSuccess && taskListComponent != null)
            {
                await taskListComponent.RefreshTasks();

                _validationMessageStore!.Clear();
                _editContext!.NotifyValidationStateChanged();

                await NotifyHub.SendMessage("USER0001", "A new task has been created successfully.");

                return;
            }

            response.Errors!.ToList().ForEach(error =>
            {
                _validationMessageStore!.Add(new FieldIdentifier(_viewModel, error.MemberNames.First()), error.ErrorMessage!);
            });

            _editContext!.NotifyValidationStateChanged();
        }
    }
}
