@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        @if (context.User.Identity?.IsAuthenticated ?? false)
        {
            <p>Welcome, @context.User.Identity.Name!</p>
        }
        <h1>Hello, world!</h1>

        Welcome to your new app.
    </Authorized>
    <NotAuthorized>
        <p>You are not authorized to access this resource.</p>
    </NotAuthorized>
</AuthorizeView>
