@rendermode InteractiveWebAssembly
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@inject IJSRuntime JsRuntime

<div class="notify-container @_activeClass">
    @_message
</div>

@code {
    private string _activeClass = "";

    private HubConnection? _hubConnection;

    private string _message = "Hello World!";
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/notify"))
            .Build();
        
        _hubConnection.On<string, string>("ReceiveMessage", async (topic, msg) =>
        {
            _message = $"{topic}: {msg}";
            _activeClass = "active";
            
            await JsRuntime.InvokeVoidAsync("console.log", msg); 
            await InvokeAsync(StateHasChanged);

            await Task.Delay(3000).ContinueWith(_ =>
            {
                _activeClass = "";
                InvokeAsync(StateHasChanged);
            });
        });
        
        await _hubConnection.StartAsync();
    }

}